pandas
generative-ai-hub-sdk
Flask
python-dotenv
gunicorn
langchain
langchain-aws
langchain-community
langchain-core
langchain-google-vertexai
langchain-openai
langchain-text-splitters
langsmith

ai-api-client-sdk
ai-core-sdk
aioboto3
aiobotocore
