AICORE_AUTH_URL=""
AICORE_CLIENT_ID=""
AICORE_CLIENT_SECRET=""
AICORE_BASE_URL=""
AICORE_RESOURCE_GROUP=""
hana_address=''
hana_port=''
hana_user=''
hana_password=''
hana_encrypt='true'
hana_ssl_validate_certificate='false'
HANA_SCHEMA=''
HANA_REFERENCE_DATA_VERSION='synthetic-2026-04-01'
HANA_COMMODITY_CATALOG_TABLE='REFERENCE_COMMODITY_CATALOG'
HANA_UNSPSC_MAPPING_TABLE='REFERENCE_UNSPSC_MAPPING'
HANA_SUPPLIER_GROUPS_TABLE='REFERENCE_SUPPLIER_GROUPS'

LLM_PROVIDER='openai'
LLM_MODEL='gpt-4.1'
