# API Configuration
API_KEY=your-api-key-here

# CORS Configuration
ALLOWED_ORIGIN=http://localhost:5173

# Environment (development or production)
APP_ENV=development

AICORE_AUTH_URL=""
AICORE_CLIENT_ID=""
AICORE_CLIENT_SECRET=""
AICORE_BASE_URL=""
AICORE_RESOURCE_GROUP=""

hana_address=''
hana_port=''
hana_user=''
hana_password=''
hana_encrypt=''